<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Owage - @ViewBag.Title</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/css/chris.min.css" rel="stylesheet" />
    <script src="~/js/jquery-1.11.2.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("House Owage", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session[HouseOwage.Controllers.HomeController.UserSession] != null)
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("My Dashboard", "MyDashboard", "Home")</li>
                        <li>@Html.ActionLink("New Request", "Create", "PaymentRequest")</li>
                        <li>@Html.ActionLink("New External Request", "Create", "ExternalPaymentRequest")</li>
                        <li>@Html.ActionLink("My History", "Index", "History")</li>
                        <li>@Html.ActionLink("Change Password", "ChangePassword", "User")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                        @if (((HouseOwage.Models.User)Session[HouseOwage.Controllers.HomeController.UserSession]).Admin)
                        {
                            <li>@Html.ActionLink("Add User", "Create", "User")</li>
                        }
                    </ul>

                </div>
            }
        </div>
    </div>
    <div class="container body-content" style="margin-top:100px;">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year</p>*@
        </footer>
    </div>


</body>

</html>
