@model HouseOwage.ViewModels.UserViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.InputClass = "form-control";
}

<div class="row">
    <h1>ChangePassword</h1>
</div>

<div class="row">

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="form-group">
            @Html.LabelFor(m => m.CurrentPassword)
            @Html.TextBoxFor(m => m.CurrentPassword, new { @class = ViewBag.InputClass, type = "password", placeholder = "Current Password" })
            @if (ViewBag.PasswordIncorrect != null)
            {
                <span style="color:red">Password incorrect</span>
            }
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(m => m.NewPassword)
            @Html.TextBoxFor(m => m.NewPassword, new { @class = ViewBag.InputClass, type = "password", placeholder = "New Password" })
            <span style="color:red">@Html.ValidationMessageFor(m => m.NewPassword)</span>
        </div>

        <div class="form-group">
            @Html.DisplayNameFor(m => m.ConfirmNewPassword)
            @Html.TextBoxFor(m => m.ConfirmNewPassword, new { @class = ViewBag.InputClass, type = "password", placeholder = "Confirm New Password" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    }

</div>
